

<!--
  <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Intelligent Database Interface</title>

  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">


</head>
<style>
  main{
    position:absolute;
    left:15%;
    top:15%;
    width:70%;
  }
</style>
<body>
  <main>

    <a href="/logout/">Logout </a>
    <center><h1>Intelligent Database Interface</h1></center>
    <center>

<form  action="/qa/ask_question/" class="form-horizontal" method="post" > <input type='hidden' name='csrfmiddlewaretoken' value='yj4o31uxPobmcaTtZRwwI75ENXrejHJnlVPX8FRaO3w3xMYUN50Cm5qlwPm71Rzl' /> <div
     > <div
    class="span3" > <div id="div_id_question" class="form-group"> <div class="controls "> <textarea name="question" rows="10" cols="40" id="id_question" required placeholder="Type in your question" class="textarea form-control" label="">
</textarea> </div> </div> </div>
<div
    class="span3"  readonly="yes"> <div id="div_id_answer" class="form-group"> <div class="controls "> <textarea name="answer" readonly="yes" rows="10" id="id_answer" class="textarea form-control" required placeholder="Your answer shows here" cols="40" label="">
</textarea> </div> </div> </div>

</div>
<div class="form-group"> <div class="controls "> <input type="submit"
    name="save_changes"
    value="Ask Question"

        class="btn btn-primary btn-primary"
        id="submit-id-save_changes"


    />
<input type="submit"
    name="cancel"
    value="Reset"

        class="btn btn-primary"
        id="submit-id-cancel"


    /> </div>
</div> </form>
</center>

  </main>
</body>
</html>
-->
