<!doctype html>
<html en='en'>
  <head>
      <title>Title Here</title>
  </head>
  <body>
      <center>
          <h2>IMO STATE UNIVERSITY, OWERRI</h2>
          <h2>FACULTY OF SCIENCE</h2>
          <h2>ON</h2>
          <h2>DEVELOPING OF AN INTELLIGENT INTERFACE FOR DATABASE SYSTEM</h2>
          <h2>DEPARTMENT OF COMPUTER SCIENCE</h2>
          <h2>BY</h2>
          <h2>AGOHA, UCHECHI KENNEDY</h2>
          <h2>2016/PhD/7259</h2>
          <h2>SUPERVISORS: <br/>
            PROF. O. E. OSUAGWU & DR. A. O. AGBAKWURU</h2>
          <h2>2019</h2>
      </center>
      <center><a href="{% url 'login' %}">Continue</a></center>
  </body>
</html>
